{{ define "index" }}

{{ template "header" }}

<div id="main">

<div id="primary">
  <div id="content" role="main">
  
  <div id="crumbs">
  	<a href="#">Home</a> <span class="delimiter">/</span> 
  	<span class="current">Gallery</span>
  </div>
				

  <!-- begin article -->
  <article class="page hentry">
  	<header class="entry-header">
		<h1 class="entry-title"><a href="#">Gallery</a></h1>
    </header>
    <!-- .entry-header -->
    
    <div class="entry-content">
    
    <p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. </p>

      	<ul class="gallery-items">
	      	<li class="item">
	      		<a href="style/images/art/gallery1-full.jpg" class="view" rel="gallery"  title="Transparent Flower">
	      			<span class="overlay zoom"></span>
	      			<img src="style/images/art/gallery1.jpg" alt=""/>
	      		</a>
	      	</li>
	      	<li class="item">
	      		<a href="style/images/art/gallery2-full.jpg" class="view" rel="gallery" title="Losing Toucing Searching">
	      			<span class="overlay zoom"></span>
	      			<img src="style/images/art/gallery2.jpg" alt=""/>
	      		</a>
	      	</li>
	      	<li class="item">
	      		<a href="style/images/art/gallery3-full.jpg" class="view" rel="gallery" title="Good Frames Ugly Picture">
	      			<span class="overlay zoom"></span>
	      			<img src="style/images/art/gallery3.jpg" alt=""/>
	      		</a>
	      	</li>
	      	<li class="item">
	      		<a href="style/images/art/gallery4-full.jpg" class="view" rel="gallery" title="Faceless Disguise">
	      			<span class="overlay zoom"></span>
	      			<img src="style/images/art/gallery4.jpg" alt=""/>
	      		</a>
	      	</li>
	      	<li class="item">
	      		<a href="style/images/art/gallery5-full.jpg" class="view" rel="gallery" title="Drop Your Mask">
	      			<span class="overlay zoom"></span>
	      			<img src="style/images/art/gallery5.jpg" alt=""/>
	      		</a>
	      	</li>
	      	<li class="item">
	      		<a href="style/images/art/gallery6-full.jpg" class="view" rel="gallery" title="The Smoke Will Lead">
	      			<span class="overlay zoom"></span>
	      			<img src="style/images/art/gallery6.jpg" alt=""/>
	      		</a>
	      	</li>
	      	<li class="item">
	      		<a href="style/images/art/gallery7-full.jpg" class="view" rel="gallery" title="I Have to Go on a Diet">
	      			<span class="overlay zoom"></span>
	      			<img src="style/images/art/gallery7.jpg" alt=""/>
	      		</a>
	      	</li>
	      	<li class="item">
	      		<a href="style/images/art/gallery8-full.jpg" class="view" rel="gallery" title="Heartbeats Slow">
	      			<span class="overlay zoom"></span>
	      			<img src="style/images/art/gallery8.jpg" alt=""/>
	      		</a>
	      	</li>
	      	<li class="item">
	      		<a href="style/images/art/gallery9-full.jpg" class="view" rel="gallery" title="Every Little Thing">
	      			<span class="overlay zoom"></span>
	      			<img src="style/images/art/gallery9.jpg" alt=""/>
	      		</a>
	      	</li>
	      	<li class="item">
	      		<a href="style/images/art/gallery10-full.jpg" class="view" rel="gallery" title="Another Word for Desperate">
	      			<span class="overlay zoom"></span>
	      			<img src="style/images/art/gallery10.jpg" alt=""/>
	      		</a>
	      	</li>
      	</ul>
<p>No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful. Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure him some great pleasure.</p>
    

 	</div>
    <!-- .entry-content -->
    
  </article>
  <!-- end article -->
  

  
  </div><!-- #content -->
</div><!-- #primary -->


</div><!-- #main -->


{{ template "footer" }}

{{ end }}