{{ define "header" }}

<!DOCTYPE HTML>
<html lang="en-US">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<title>Serendipity</title>
<link rel="shortcut icon" href="asserts/images/favicon.png"/>
<link rel="stylesheet" type="text/css" href="asserts/css/style.css" media="all" />
<link rel="stylesheet" type="text/css" href="asserts/css/view.css" media="all" />
<link rel="stylesheet" type="text/css" href="asserts/type/marketdeco.css" media="all" />
<link rel="stylesheet" type="text/css" href="asserts/type/merriweather.css" media="all" />
<link rel="stylesheet" type="text/css" href="asserts/css/queries.css" media="all" />
<!--[if IE 8]>
<link rel="stylesheet" type="text/css" href="asserts/css/ie8.css" media="all" />
<![endif]-->
<!--[if IE 9]>
<link rel="stylesheet" type="text/css" href="asserts/css/ie9.css" media="all" />
<![endif]-->
<script type="text/javascript" src="asserts/js/jquery-1.7.1.min.js"></script>
<script type="text/javascript" src="asserts/js/ddsmoothmenu.js"></script>
<script type="text/javascript" src="asserts/js/html5.js"></script>
<script type="text/javascript" src="asserts/js/jquery.fitvids.js"></script>
<script type="text/javascript" src="asserts/js/selectnav.js"></script>
<script type="text/javascript" src="asserts/js/twitter.min.js"></script>
</head>

<body>
<div id="page" class="hfeed">
<div id="wrapper">
<header id="branding" role="banner">
  <h1 id="site-title"> 
  	<a href="index.html" title="Serendipity" rel="home">
    		<img src="asserts/images/logo.png" alt="KalibratorGo" />
    </a> 
  </h1>
  <!-- #access --> 
</header>
<!-- #branding -->

{{ end }}