{{ define "index" }}

{{ template "header" }}

<div id="main">

<div id="primary">
  <div id="content" role="main">
  
  <div id="crumbs">
  	<a href="#">Home</a> <span class="delimiter">/</span> 
  	<span class="current">Typography</span>
  </div>
				

  <!-- begin article -->
  <article class="page hentry">
  	<header class="entry-header">
		<h1 class="entry-title"><a href="#">Typography</a></h1>
    </header>
    <!-- .entry-header -->
    
    <div class="entry-content">
    
    	<div class="one-half">
          <h3>Unordered List</h3>
          <ul>
            <li>Pellentesque non diam et tortor dignissim. </li>
            <li>Neque sit amet mauris egestas quis mattis. </li>
            <li>Cras justo odio, dapibus ac facilisis.</li>
            <li>Curabitur viver justo sed scelerisque.</li>
          </ul>
        </div>
        <div class="one-half last">
          <h3>Ordered List</h3>
          <ol>
            <li>Pellentesque non diam et tortor dignissim. </li>
            <li>Neque sit amet mauris egestas quis mattis. </li>
            <li>Curabitur viver justo sed scelerisque.</li>
            <li>Condimentum aenean risus malesuada tortor.</li>
          </ol>
        </div>
        <div class="clear"></div>
        <hr />
        <h3>Blockquote</h3>
        <blockquote>
          <p>Pellentesque non diam et tortor dignissim bibendum. Neque sit amet mauris egestas quis mattis velit fringilla. Curabitur viver justo sed scelerisque.</p>
        </blockquote>
        <hr />
        <h3>Dropcap</h3>
        <p><span class="dropcap">D</span>uis non lectus sit amet est imperdiet cursus elementum vitae eros. Cras quis odio in risus euismod suscipit. Fusce viverra ligula vel justo bibendum semper. Nulla facilisi. Donec interdum, enim in dignissim lacinia, lectus nisl viverra lorem, ac pulvinar nunc ante at neque. Proin et dui eros, at aliquet est. Pellentesque consectetur lectus quis enim mollis ut convallis urna malesuada. Sed tincidunt interdum sapien vel gravida. Nulla a tellus lectus, in aliquet tellus. Donec aliquam neque quis mi.
        <hr />
        <h3>Hightlights</h3>
        <p>Duis non lectus sit amet est imperdiet cursus elementum vitae eros. <span class="lite1">This is hightlight</span> morbi vitae magna tellus, ac mattis urna. <span class="lite2">This is second highlight</span> posuere. Cras quis odio in risus euismod suscipit. Fusce viverra ligula vel justo bibendum semper.</p>
        

 	</div>
    <!-- .entry-content -->
    
  </article>
  <!-- end article -->
  

  
  </div><!-- #content -->
</div><!-- #primary -->


</div><!-- #main -->
{{ template "footer" }}

{{ end }}